<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>管理首页</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="../assets/css/theme.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">-->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- fontawesome6 CSS -->
    <link type="text/css" href="../assets/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <!-- Core -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/popper/popper.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- Page plugins -->
    <script src="../assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="../assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="../assets/vendor/input-mask/input-mask.min.js"></script>
    <script src="../assets/vendor/nouislider/js/nouislider.min.js"></script>
    <script src="../assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
    <!-- Theme JS -->
    <script src="../assets/js/theme.js"></script>

<!--    <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>-->
    <!--引入Vue框架-->
    <script src="../assets/vendor/vue/dist/vue.js"></script>
    <!--引入axios框架-->
    <script src="../assets/vendor/axios/dist/axios.min.js"></script>
    <script src="../assets/js/myUtil.js"></script>
</head>
<style>
    p {
        margin: 0;
        text-indent: 4ch;
    }
    .refer{
        font-size: 90%;
    }
</style>
<body>

<div id="acctPwdId" class="container-fluid">

<!--    月份搜索，日期区间搜索，关键词搜索，关键词，延升地区搜索-->

    <div id="accidentId" class="row">
        <div class="col-xl-8 offset-xl-2">
            <br>
            <div v-if="searchParam.checkedDate==7"
                    class="mb-3 row">
                <div class="col-md-2">
                <span>自定义区间：</span>
                </div>
                <div class="col-md-10">
                <input type="date" v-model="searchParam.startDate" v-on:change="mixSearch()">
                <span>--</span>
                <input type="date" v-model="searchParam.endDate" v-on:change="mixSearch()">
                </div>
            </div>
            <div class="form-group sticky-top">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="selectpicker" name="checkedDate"
                                v-model="searchParam.checkedDate"
                                v-on:change="mixSearch()">
                            <option value="1">全部</option>
                            <option value="2">当月</option>
                            <option value="3">上月至今</option>
                            <option value="4">近三月</option>
                            <option value="5">近半年</option>
                            <option value="6">今年来</option>
                            <option value="7">自定义</option>
                        </select>
                    </div>
                    <input type="text" class="form-control"  placeholder="搜索" v-model="searchParam.content" v-on:change="mixSearch">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div>
                <a class="btn btn-primary mb-2" href="add.html">新增</a>
            </div>
            <table class="table table-hover align-items-center">
                <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">标题</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(a,index) in page.records"
                    class="bg-white" scope="row">
                    <td v-text="index+1"></td>
                    <td v-text="a.title">nabiha.armstrong@example.com</td>
                    <td>
                        <a class="btn btn-primary" :href="'edit.html?id='+a.id" >编辑</a>
                        <button type="button"
                                v-on:click="delInfoId=a.id"
                                class="btn btn-primary" data-dismiss="modal"
                                data-toggle="modal" data-target="#delInfoModal"

                        >删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--            删除确认-->
            <div class="modal fade"  id="delInfoModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 text-center py-4">
                                    <div class="mb-4">
                                        确认删除？
                                    </div>
                                    <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal" >取消</button>
                                    <button type="button" class="btn btn-primary mx-2"  v-on:click="delInfo">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav v-if="page.pages>1" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-if="page.current > 1"><a class="page-link" href="#"  v-on:click="pageSearch(page.current-1)"><i class="fas fa-angle-left"></i></a></li>
                    <li v-for="p in page.pageNums" v-bind:class="'page-item '+(p==page.current?'active':'')" ><a class="page-link" href="#" v-on:click="pageSearch(p)" v-text="p">1</a></li>
<!--                    <li class="page-item active"><a class="page-link" href="#">2</a></li>-->

                    <li class="page-item" v-if="page.current < page.pages"><a class="page-link " href="#"><i class="fas fa-angle-right"  v-on:click="pageSearch(page.current+1)"></i></a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>
</body>

<script>
    let accidentApp = new Vue({
        el: "#accidentId",
        data: {
            delInfoId:null,//被选中的待删除的id
            searchParam:{
                checkedDate:null,
                startDate:null,
                endDate:null,
                content:null
            },
            accidentList:[{
                "title": '大通泥石流事件',
                "id": "1",
            },
                {
                    "title": '龙槽沟山洪事件',
                    "id": "2",
                }
                ],
            page:{
                "current":2,
                "hitCount":false,
                "optimizeCountSql":true,
                "orders":[],
                "pageNums":[
                    1,
                    2,
                    3
                ],
                "pages":3,
                "records":[
                    {
                        "id":4,
                        "title":"浙江龙游衢江河道意外溺水事件",
                    },
                    {
                        "id":5,
                        "title":"3·21东航客机事故",
                    },
                    {
                        "id":6,
                        "title":"4·29长沙楼房坍塌事故"
                    }
                ],
                "searchCount":true,
                "size":3,
                "total":9
            }
        },
        created: function () {
            this.pageSearch(1)
            //this.mixSearch()
        },
        methods: {

            pageSearch:function(pageNum){
                this.searchParam.pageNum = pageNum
                this.mixSearch()
            },

            mixSearch:function(){
                let sendReqFlag = false;
                if (this.searchParam.checkedDate!='7'){
                    this.searchParam.startDate=null
                    this.searchParam.endDate=null
                    sendReqFlag = true
                }else if (this.searchParam.startDate!=null&&this.searchParam.endDate!=null){
                    sendReqFlag = true
                }
                if (sendReqFlag){
                    axios.get('/accident/info/adminSearch',{
                        params: this.searchParam
                    }).then(res => {
                        // this.accidentList = res.data.data
                        console.log(res.data.data)
                        this.page = res.data.data

                        // 起始页数重置为1
                        this.searchParam.pageNum = 1
                    })
                }
            },
            delInfo:function(){
                console.log(this.delInfoId)
                if (this.delInfoId==null) return
                axios.post('/accident/info/del/'+this.delInfoId)
                    .then(response => {
                        console.log(response);
                        if (response.data.code==0){
                            this.delInfoId=null
                            // 隐藏模态框
                            $('#delInfoModal').modal('hide')
                            this.mixSearch()
                            alert('删除成功')
                        }
                    })
            }
        }
    })
</script>
</html>