<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.accident.mapper.InfoSourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.accident.model.InfoSource">
        <id column="id" property="id" />
        <result column="info_id" property="infoId" />
        <result column="url" property="url" />
        <result column="url_title" property="urlTitle" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
